name: Daily Update

on:
  schedule:
    - cron: 0 12 * * *
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest] # windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        ref: release
    - name: Npm Install
      run: npm install
    - name: Get Package List
      run: npm run scrape
    - name: Commit and Push Packagelist
      uses: github-actions-x/commit@v2.2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'release'
        rebase: 'true'
        commit-message: 'Automated Daily List Update'
        files: qt_package_list.json
