name: Test Workflow

on: [push]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest] # windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install Dependencies
      run: sudo apt-get -y instal libxkbcommon-x11-0
    - name: Get Package List
      run: node ./package_scraper/package_scraper.js
    - name: Store
      uses: actions/upload-artifact@master
      with:
        name: QT Package List
        path: qt_package_list.json
